{% extends "base.html.twig" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <div style="background-color:#4CB2DD; min-height: 100vh; display: flex;flex-direction: column; align-items: center; padding: 10px">
        {% include 'header.twig' %}
        <div class="flex-container flex-dir-column" style="width: 95%">

            <div id="title" style="align-self: center; text-align: center;background: white;border-radius: 50px; align-items: center; margin-bottom: 20px;margin-top: 10px;padding-left: 50px; padding-right: 50px">

            </div>
            <div class="card"  id="waiting-answer-text" style="display: none; align-self: center; width:50%; border-radius: 20px">
                <div class="card-divider">
                    <h5 style="width: 100%; text-align: center">Extrayendo datos...</h5>
                </div>
                <div style="display:flex; flex-direction:column; align-content: center; align-items: center; width: 100%; align-self: center">
                    <img style="align-self: center; width: 25%" src="{{ base_url() }}/assets/loading/loading.gif"/>
                </div>
            </div>
            <div class="hide cell"
                 style="background-color: transparent; display: flex; flex-direction: row; flex-wrap: wrap; margin-bottom: 20px"
                 id="response-container">
            </div>
            <div id="container-indicators" style="background: white;border-radius: 50px; align-items: center">

                <form class="cell align-center" >
                    <div class="grid-x text-center">
                        <div class="cell">
                            <h2 class="h2">¿Qué indicadores de interacción te interesa conocer?</h2>
                        </div>
                    </div>

                    <div class="flex-container" style="justify-content: space-around" id="container-zone">
                    </div>


                    <div class="text-center padding-1">
                        <button name="Get details!" class="button">Get details!</button>
                    </div>


                </form>
            </div>

        </div>


    </div>


    <script src="{{ base_url() }}/assets/js/widgetLib/widgetlib.js"></script>

    <script>
        let widgetList = [];

        function showResponses(response) {


            let container = $("#response-container");
            container.removeClass('hide');

            widgetList = [];

            let vals = Object.entries(response);

            for (let i = 0; i < vals.length; i++) {

                let widget = new Widget();
                let val = vals[i];

                let key = val[0];
                let content = val[1];

                widget.title = key;
                widget.schema = content['content'];
                widget.kind = content['kind'];
                widget.process();

                widgetList.push(widget);


                container.append(widget.render());
            }
        }

        function addToSegment(parent, list) {
            for (let i = 0; i < list.length; i++) {
                let indicator = list[i];
                let id = indicator.replace(/ /g, '_');

                let form_button = document.createElement('input');
                form_button.type = 'checkbox';
                form_button.classList.add('checkbox', 'indicator_checkbox');
                form_button.name = indicator;
                form_button.id = indicator;


                let label = document.createElement('label');
                label.setAttribute("for", indicator);
                label.innerText = indicator;
                let row = document.createElement('div');
                row.classList.add('row');
                row.append(form_button, label);
                parent.append(row);
            }
        }

        let showIndicators = function (val) {
            let ans = JSON.parse(val);

            let keys = Object.keys(ans);
            let role = ans['role'];
            let container = $("#container-zone");
            for(let i = 0; i < keys.length; i++){

                let key = keys[i];
                console.log(key)
                if (key !== 'role') {
                    let list = ans[key];

                    let indicators = document.createElement('DIV');
                    let indicators_title = document.createElement('P');
                    indicators_title.classList.add('text-center', 'h3');
                    indicators_title.innerText = key;
                    indicators.append(indicators_title);

                    addToSegment(indicators, list);
                    container.append(indicators);

                }

            }

        };

        $(document).ready(function () {
            $("form").submit(function (e) {
                e.preventDefault();

                let formData = $(this).serializeArray();

                $.ajax('{{ base_url() }}/api/indicators/operateIndicators/{{ courseid }}', {
                    method: 'POST',
                    data:{queries: formData},
                    beforeSend: function () {
                        $('#response-container').removeClass('hide');
                        $('#response-container').children().remove();

                        $('#waiting-answer-text').show(200);

                    },
                    success: function (ans) {
                        showResponses(JSON.parse(ans));
                    },
                    complete: function () {
                        $('#waiting-answer-text').hide(200);

                    }
                })

                /*$.post('{{ base_url() }}/api/askIndicators/{{ courseid }}', {queries: formData}, function (ans) {
                    showResponses(JSON.parse(ans));
                });*/

            });

            $.ajax({
                url:'{{ base_url() }}/api/courses/details/{{ courseid }}',
                method: 'GET',
            }).done(function (ans)
            {
                ans = JSON.parse(ans);
                console.log(ans)
                let container = document.createElement("DIV");
                container.style.display = 'flex';
                container.style.flexDirection = 'row';
                container.style.justifyContent = 'center';
                container.style.width = '100%';



                let title = document.createElement('H1');
                title.classList.add('h1');
                title.innerHTML = ans['fullname'];
                let documentTitle = document.createElement('div');
                documentTitle.innerHTML = ans['fullname'];
                document.title = documentTitle.childNodes[1].innerText + ' | EIStudy';

                container.append(title);

                $("#title").append(container);
            })

            $.ajax({
                url: '{{ base_url() }}/api/indicators/getIndicators/{{ courseid }}',
                success: showIndicators,
                method: 'GET',
            }).fail(function (err) {
                let table_cont = $("#container-indicators");
                table_cont.empty();

                let container = document.createElement('DIV');
                container.style.width = '100%';
                container.style.display = 'flex';
                container.style.flexDirection = 'column';
                container.style.alignItems = 'center';


                let error = document.createElement('H1');
                error.style.textAlign = 'center';
                error.style.width = '100%';
                error.innerText = err.statusText;
                container.append(error);

                let redirect = document.createElement('A');
                redirect.classList.add('button', 'primary');
                redirect.href = '{{ base_url() }}';
                redirect.innerText = "Volver a inicio";
                container.append(redirect);

                table_cont.append(container);
            });
        })

    </script>

{% endblock %}